@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    We are located everywhere <br />
    you can't run <br />
    give up already
</address>

<address>
    <strong>Contact our director:</strong>   <a href="mailto:music@mozzhhevelnik.com">music@example.com</a><br />
    <strong>For inquiries:</strong> <a href="mailto:support@ozzhhevelnik.com">support@ozzhhevelnik.com</a>
</address>