@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            welcome to our store! here you can find all kinds of music records, explore music history and more!<br />
            start by choosing whatever you want on the menu and good luck <br />
            we reserve or sell only to registered users, don't forget to sign up<br /><br /><br /><br />
            
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            <img alt="logo" src="~/Images/logo.png" />
        </section>
    </div>
</div>